body{
    min-width: 350px;
}

.nowrap{
    white-space: nowrap;
}

.button{
    border: none;
    color: white;
    text-align: center;
    padding: 10px 17px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
}

.button_disabled{
    background-color: #aeaeaf;
}

.button_enabled{
    background-color: #4CAF50;
}

.button_enabled:hover{
    cursor: pointer;
    box-shadow: 1px 3px 10px #5b5b5b;
}

.button_enabled:active{
    background-color: #548261;
}