.credentials_section{
    float: left;
}

.button{
    float: right;
    margin-left: 10px;
}

#img_back{
    position: absolute;
    top: 5px;
    left: 5px;
}

#img_back:hover{
    cursor: pointer;
    background-color: #d1d1d1;
    border-radius: 3px;
}

#img_back:active{
    background-color: #afafaf;
}

#title{
    margin-left: 55px;
    margin-right: 55px;
}

#server{
    margin-bottom: 20px;
}

#token{
    margin-bottom: 15px;
}

#submit_section{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#img_info{
    margin-top: 5px;
}

h1{
    font-size: 27px;
    text-align: center;
}

input{
    margin-top: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    width: 220px;
}

label{
    margin-top: 10px;
}

input, label{
    display: block;
    font-size: 14px;
}

body{
    min-width: 400px !important;
}